walli/rpi0/.node-red/flows.json
[
    {
        "id": "ffe319f2b2fecf29",
        "type": "tab",
        "label": "Licht",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "542d01715ae3c373",
        "type": "tab",
        "label": "Strom",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ce7ac1d0ae46b51a",
        "type": "zigbee2mqtt-server",
        "name": "",
        "host": "localhost",
        "mqtt_port": "1883",
        "mqtt_username": "",
        "mqtt_password": "",
        "mqtt_qos": "0",
        "tls": "",
        "usetls": false,
        "base_topic": "zigbee2mqtt"
    },
    {
        "id": "4a438491c436fd41",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "828b5b99fb91640a",
        "type": "zigbee2mqtt-in",
        "z": "ffe319f2b2fecf29",
        "name": "",
        "server": "ce7ac1d0ae46b51a",
        "friendly_name": "Tradfri-Motion (E1525/E1745)",
        "device_id": "0x000b57fffe383d32",
        "state": "occupancy",
        "outputAtStartup": true,
        "filterChanges": true,
        "enableMultiple": false,
        "x": 140,
        "y": 120,
        "wires": [
            [
                "fad6c895951af317"
            ]
        ]
    },
    {
        "id": "fad6c895951af317",
        "type": "switch",
        "z": "ffe319f2b2fecf29",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 370,
        "y": 120,
        "wires": [
            [
                "7078fe013aaf6caa"
            ],
            [
                "0fa1d92ae53caf81"
            ]
        ]
    },
    {
        "id": "7078fe013aaf6caa",
        "type": "time-range-switch",
        "z": "ffe319f2b2fecf29",
        "name": "",
        "lat": "50.267488",
        "lon": "11.469347",
        "startTime": "sunset",
        "endTime": "sunrise",
        "startOffset": "-45",
        "endOffset": 0,
        "x": 560,
        "y": 40,
        "wires": [
            [
                "8a8ed113d2c9425b"
            ],
            []
        ]
    },
    {
        "id": "80368d012f510f9f",
        "type": "zigbee2mqtt-bridge",
        "z": "ffe319f2b2fecf29",
        "name": "",
        "server": "ce7ac1d0ae46b51a",
        "topic": null,
        "x": 120,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "a26f727611e301e4",
        "type": "zigbee2mqtt-out",
        "z": "ffe319f2b2fecf29",
        "name": "",
        "server": "ce7ac1d0ae46b51a",
        "friendly_name": "Tradfri-E27-WS-WZ (LED2201G8)",
        "device_id": "0x8c6fb9fffecb5b01",
        "command": "state",
        "commandType": "z2m_cmd",
        "payload": "payload",
        "payloadType": "msg",
        "optionsValue": "",
        "optionsType": "nothing",
        "x": 700,
        "y": 280,
        "wires": []
    },
    {
        "id": "78e615fadae69a9c",
        "type": "amazon-echo-hub",
        "z": "ffe319f2b2fecf29",
        "port": "80",
        "processinput": 0,
        "discovery": true,
        "x": 110,
        "y": 280,
        "wires": [
            [
                "fbefb2f9d6caedbf"
            ]
        ]
    },
    {
        "id": "fbefb2f9d6caedbf",
        "type": "amazon-echo-device",
        "z": "ffe319f2b2fecf29",
        "name": "Wohnzimmer",
        "topic": "",
        "x": 310,
        "y": 280,
        "wires": [
            [
                "0e3213f25f56bd27",
                "ed80471a835d7442"
            ]
        ]
    },
    {
        "id": "0e3213f25f56bd27",
        "type": "debug",
        "z": "ffe319f2b2fecf29",
        "name": "debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 340,
        "wires": []
    },
    {
        "id": "f01eae23c55abac4",
        "type": "zigbee2mqtt-out",
        "z": "ffe319f2b2fecf29",
        "name": "",
        "server": "ce7ac1d0ae46b51a",
        "friendly_name": "Tradfri-E27-WS-WZ (LED2201G8)",
        "device_id": "0x8c6fb9fffecb5b01",
        "command": "brightness",
        "commandType": "z2m_cmd",
        "payload": "bri",
        "payloadType": "msg",
        "optionsValue": "",
        "optionsType": "nothing",
        "x": 700,
        "y": 340,
        "wires": []
    },
    {
        "id": "ed80471a835d7442",
        "type": "switch",
        "z": "ffe319f2b2fecf29",
        "name": "",
        "property": "meta.changes",
        "propertyType": "msg",
        "rules": [
            {
                "t": "else"
            },
            {
                "t": "hask",
                "v": "bri",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 470,
        "y": 280,
        "wires": [
            [
                "a26f727611e301e4"
            ],
            [
                "f01eae23c55abac4"
            ]
        ]
    },
    {
        "id": "5a82d79311f27262",
        "type": "http request",
        "z": "ffe319f2b2fecf29",
        "name": "on for 300s",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.1.116/relay/0?turn=on&timer=300",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 750,
        "y": 100,
        "wires": [
            [
                "d0b31284f34798e3"
            ]
        ]
    },
    {
        "id": "d0b31284f34798e3",
        "type": "debug",
        "z": "ffe319f2b2fecf29",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 120,
        "wires": []
    },
    {
        "id": "0fa1d92ae53caf81",
        "type": "http request",
        "z": "ffe319f2b2fecf29",
        "name": "off",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.1.116/relay/0?turn=off",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 730,
        "y": 140,
        "wires": [
            [
                "d0b31284f34798e3"
            ]
        ]
    },
    {
        "id": "bd6984a447e4ff05",
        "type": "comment",
        "z": "ffe319f2b2fecf29",
        "name": "Shelly1-Eingang",
        "info": "nodes for Shelly gen1/2/3, but many deps:\nhttps://flows.nodered.org/node/node-red-contrib-shelly\n\n-> just control via http request\nhttps://open-boat-projects.org/en/shelly-1-in-nodered-integrieren/\nhttps://shelly-api-docs.shelly.cloud/gen1/#shelly1-1pm-relay-0\n\nTest in browser:\nhttp://192.168.1.116/relay/0?turn=on&timer=20\nturn: on, off, toggle\ntimer only works for turn=on",
        "x": 560,
        "y": 100,
        "wires": []
    },
    {
        "id": "8a8ed113d2c9425b",
        "type": "http request",
        "z": "ffe319f2b2fecf29",
        "name": "state",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://192.168.1.116/relay/0",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 730,
        "y": 40,
        "wires": [
            [
                "d4579b47a9608cfc"
            ]
        ]
    },
    {
        "id": "d4579b47a9608cfc",
        "type": "switch",
        "z": "ffe319f2b2fecf29",
        "name": "ison",
        "property": "payload.ison",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 850,
        "y": 40,
        "wires": [
            [],
            [
                "5a82d79311f27262"
            ]
        ]
    },
    {
        "id": "867578f1f4cdb25b",
        "type": "comment",
        "z": "ffe319f2b2fecf29",
        "name": "off after 1m",
        "info": "",
        "x": 270,
        "y": 80,
        "wires": []
    },
    {
        "id": "ef05b7b770b8dfc8",
        "type": "mqtt in",
        "z": "542d01715ae3c373",
        "name": "",
        "topic": "electricity/#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "4a438491c436fd41",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 60,
        "wires": [
            [
                "c78777d22b0d36ef"
            ]
        ]
    },
    {
        "id": "c78777d22b0d36ef",
        "type": "debug",
        "z": "542d01715ae3c373",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 300,
        "y": 60,
        "wires": []
    }
]
